
@font-face {
  font-family: 'KristenITC-Regular';
  src: url('KristenITC-Regular.eot?#iefix') format('embedded-opentype'),  url('KristenITC-Regular.woff') format('woff'), url('KristenITC-Regular.ttf')  format('truetype'), url('KristenITC-Regular.svg#KristenITC-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
