
@font-face {
  font-family: 'BlackadderITC-Regular';
  src: url('BlackadderITC-Regular.eot?#iefix') format('embedded-opentype'),  url('BlackadderITC-Regular.woff') format('woff'), url('BlackadderITC-Regular.ttf')  format('truetype'), url('BlackadderITC-Regular.svg#BlackadderITC-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
