
@font-face {
  font-family: 'Oldtypewriter';
  src: url('Oldtypewriter.eot?#iefix') format('embedded-opentype'),  url('Oldtypewriter.woff') format('woff'), url('Oldtypewriter.ttf')  format('truetype'), url('Oldtypewriter.svg#Oldtypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}
