
@font-face {
  font-family: 'Webdings';
  src: url('Webdings.eot?#iefix') format('embedded-opentype'),  url('Webdings.woff') format('woff'), url('Webdings.ttf')  format('truetype'), url('Webdings.svg#Webdings') format('svg');
  font-weight: normal;
  font-style: normal;
}
